<!-- PAGINATION -->
    <div class="pagination-wrapper">
        <div class="pagination">
            <a href="" class="page active">1</a>
            <a href="" class="page">2</a>
            <a href="" class="page">3</a>
            <a href="" class="next">Next</a>
            <a href="" class="last">Last</a>
        </div>
    </div>

    <div class="page-number-wrapper">
        <div class="page-number">
            <p>Page 1 of 3</p>
        </div>

        <div class="select-number-results">
            <form class="">
                <label>Results per page:</label>
                <select id="number_of_results">
                    <option value="10 results">10</option>
                    <option value="25 results">25</option>
                    <option value="50 results">50</option>
                </select>
            </form>
        </div>
    </div>